.nav-container {
  padding-top: 65px;
}

.nav-container a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
}

.nav-container a:hover {
  color: #37e0ea;
}

.active {
  color: #37e0ea !important;
}
