<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">

      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
          <a href="#">Moegamat Deen Ludski</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="whatsapp" href="https://wa.me/0639237486" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></li>
          <li><a class="dribbble" href="mailto:mdludski@gmail.com" target="_blank"><i class="fa-solid fa-at"></i></a></li>
          <li><a class="linkedin" href="https://www.linkedin.com/in/moegamat-deen-ludski/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
