.about-me {
  min-height: 75vh;
  align-items: center;
  display: flex;
}

.little-avatar {
  height: 280px;
}

.about-me-content {

}

.main-heading {
  font-size: 80px;
}

.tiny-text {
  font-size: 3px;
}

.tiny-dots {
  font-size: 10px;
}

.space {
  padding-right: 7px;
  padding-left: 10px;
}

