<div class="instagram-container">
  <div class="device">
    <div class="instagram">

      <header class="top">
        <div class="head-btn">
          <span class="photo">&nbsp;</span>
        </div>
        <div class="head-logo">
          <span class="logo">&nbsp;</span>
        </div>
        <div class="head-btn">
          <span class="people">&nbsp;</span>
        </div>
      </header>

      <div class="scroll">
        <main class="content">
          <div class="post">
            <div class="post-header">
              <img class="user-thumb" [src]="companyImage" alt="Walter">
              <div class="user-details">
                <strong class="name">{{company}}</strong>
              </div>
              <div class="post-menu">
                <span class="menu">&nbsp;</span>
              </div>
            </div>
            <img [src]='mainImage' alt="post"
                 class="post-photo">
            <div class="post-footer">

              <div class="buttons">
                <div class="post-btn"><span class="like">&nbsp;</span></div>
                <div class="post-btn"><span class="comn">&nbsp;</span></div>
                <div class="spacer">&nbsp;</div>
                <div class="post-btn"><span class="save">&nbsp;</span></div>
              </div>

              <div class="likes">
                <img src="https://storage.googleapis.com/mkts/walter.jpg" alt="user" class="user-like">
                {{randomNum}} likes
              </div>

              <div class="comments">
                <p>
                  <strong>{{company}}</strong> {{caption}}
                </p>
              </div>

              <span class="time">{{date}}</span>

            </div>
          </div>
        </main>

      </div>

      <footer class="bottom">
        <a class="footer-btn">
          <span class="home">&nbsp;</span>
        </a>
        <a class="footer-btn">
          <span class="search">&nbsp;</span>
        </a>
        <a class="footer-btn">
          <span class="add">&nbsp;</span>
        </a>
        <a class="footer-btn">
          <span class="like">&nbsp;</span>
        </a>
        <a class="footer-btn">
          <span class="profile">&nbsp;</span>
        </a>
      </footer>

    </div>
  </div>
</div>
