<!--<div class="cursor" [style.top]="top" [style.left]="left" [ngClass]="{'expand':expand}"></div>-->


<ng-container *ngIf="showLoadingScreen else notLoading">
<div class="loading-screen d-flex align-items-center justify-content-center">
  <div class="image-container">
    <img class="loading-image" src="../assets/Memoji/mdl.gif" alt="">
  </div>
</div>
</ng-container>

<ng-template #notLoading>
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</ng-template>
