<div class="row" *ngIf="altDisplay">
  <div class="col-md-4">
    <div class="row flex-column">
      <div class="col-md-12">
        <div class="image-small"></div>
      </div>
      <div class="col-md-12">
        <div class="image-small"></div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="image-big"></div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <div class="image-small"></div>
      </div>
      <div class="col-md-4">
        <div class="image-small"></div>
      </div>
      <div class="col-md-4">
        <div class="image-small"></div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="!altDisplay">
  <div class="col-md-8">
    <div class="image-big"></div>
  </div>
  <div class="col-md-4">
    <div class="row flex-column">
      <div class="col-md-12">
        <div class="image-small"></div>
      </div>
      <div class="col-md-12">
        <div class="image-small"></div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <div class="image-small"></div>
      </div>
      <div class="col-md-4">
        <div class="image-small"></div>
      </div>
      <div class="col-md-4">
        <div class="image-small"></div>
      </div>
    </div>
  </div>
</div>
