@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
  background-color: #000000 !important;
  color: #ffffff !important;
  font-family: 'Montserrat', sans-serif !important;
}

.btn.btn-custom {
  border: solid 1px #fff;
  border-radius: 0;
  color: #ffffff;
  margin: 15px;
}
