<div class="landing-page-image-animation"></div>
<div class="row hover-images">
  <div class="col-6 left-hover"></div>
  <div class="col-6 right-hover"></div>
</div>

<div class="intro">
  <div class="container-fluid">
    <div class="first-heading">
<!--      [class.visually-hidden-focusable]="!animateMainText"-->
<!--      class="first-heading animate__animated"-->
<!--      [class.animate__zoomIn]="animateMainText"-->
<!--      (visibilityChange)="_visibilityChangeHandler($event)"-->
<!--      enterTheViewportNotifier-->
<!--    >?-->
      Moegamat Deen Ludski is a Multimedia <br>
      Designer based in Cape Town
    </div>
    <div class="second-heading mt-3">
      Specialising in the Adobe Creative Cloud <br>
    </div>
  </div>
</div>

<div *ngFor="let workItem of featuredWorkObject">
  <app-project-preview [workItem]="workItem">
  </app-project-preview>
</div>

